Adafruit-Blinka==8.14.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-neopixel==6.3.8
adafruit-circuitpython-pixelbuf==2.0.0
adafruit-circuitpython-requests==1.12.12
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.40.2
Adafruit-PureIO==1.1.9
aio-pika==8.3.0
aiormq==6.6.4
board==1.0
colour==0.1.5
idna==3.4
multidict==6.0.4
pamqp==3.2.1
pipdeptree==2.3.3
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing-extensions==4.4.0
yarl==1.8.2
